@media  only screen and (max-width:768px){
    .navigation .fa-bars{
        display: block;
        font-size: 1.5rem;

    }
    .navbar__nav a{
        display: none;
    }
    .banner{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .about__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .admison__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .why__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .Datermine__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .Testimonial__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .contact__content{
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;
    }
    .footer__content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        margin-bottom: 2rem;
    }

    .modal_content{
        position: relative;
        width: 80%;
        height: 90%;
        padding: 40px;
        background-color: rgb(255, 255, 255, 0.6);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        overflow-y: auto;
        margin-top: 20px;
        left: 12%;
      }
}